<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/add_internship.css">
    <title>Add Internship</title>
</head>
<body>
    <h1>Add Internship</h1>
    <div class="container">
        <form method="POST" action="/add_internship" enctype="multipart/form-data">
            <label for="intern_name">Intern Name:</label>
            <input type="text" id="intern_name" name="intern_name" required><br><br>
            
            <label for="company_name">Company Name:</label>
            <input type="text" id="company_name" name="company_name" required><br><br>
            
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" required><br><br>
            
            <label for="mentor_name">Mentor Name:</label>
            <input type="text" id="mentor_name" name="mentor_name" required><br><br>
            
            <label for="mentor_email">Mentor Email:</label>
            <input type="email" id="mentor_email" name="mentor_email" required><br><br>
            
            <label for="city">City:</label>
            <input type="text" id="city" name="city" required><br><br>
            
            <label for="stipend">Stipend:</label>
            <input type="number" id="stipend" name="stipend"><br><br>
            
            <label for="Offer">Offer Letter:</label>
            <div class="file-upload">
                <input type="file" id="offer_letter" name="offer_letter" class="OfferLetter" required>
                <label for="offer_letter" class="file-upload-label">Choose a file</label>
            </div>
            <button type="submit" >Add Internship</button>
        </form>
    </div>
</body>
</html>