<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Internship Management</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="containar">
        <h1 class="hadding">Welcome to the Internship Management System</h1>
        <div class="button">
            <a class="a" href="/templates//add_internship.html">Add Internship</a>
            <a class="a" href="/templates/view_internships.html">View Internships</a>
        </div>
    </div>
</body>
</html>
