<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Internships</title>
</head>
<body>
    <link rel="stylesheet" href="/static/view_interships.css">
    <div class="container">
        <h1>Internship Records</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Intern Name</th>
                    <th>Company Name</th>
                    <th>Start Date</th>
                    <th>Mentor Name</th>
                    <th>Mentor Email</th>
                    <th>City</th>
                    <th>Stipend</th>
                    <th>Offer Letter</th>
                    <th>Dounload Offer Letter</th>
                </tr>
            </thead>
            <tbody>
                {% for internship in internships %}
                <tr>
                    <td>{{ internship[0] }}</td>
                    <td>{{ internship[1] }}</td>
                    <td>{{ internship[2] }}</td>
                    <td>{{ internship[3] }}</td>
                    <td>{{ internship[4] }}</td>
                    <td>{{ internship[5] }}</td>
                    <td>{{ internship[6] }}</td>
                    <td>{{ internship[7] }}</td>
                    <td>{{ internship[8] }}</td>
                    <td>
                        <a href="{{ internship[8] }}" download>Download Offer Letter</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="button" href="/faculty-dashboard">Back to Home</a>
    </div>
</body>
</html>
